<h1>Profile</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>ID Number:</strong>
  <%= @user.id_number %>
</p>

<p>
  <strong>Fiscal Number:</strong>
  <%= @user.fiscal_number %>
</p>

<%= link_to 'Edit', edit_user_registration_path, :class => 'navbar-link' %>


<%= link_to "Back", :back %>