<h1>WELCOME to What Around Me</h1>
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.first_name %></strong>.
      <%= link_to 'Show profile', current_user %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% elsif provider_signed_in? %>
      Logged in as <strong><%= current_provider.first_name %></strong>.
      <%= link_to 'Show profile', current_provider %> |
      <%= link_to "Logout", destroy_provider_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <p>User:</p>
      <%= link_to "User: Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "User: Login", new_user_session_path, :class => 'navbar-link'  %>
      <br>
      <br>
      <p>Provider:</p>
      <%= link_to "Provider: Sign up", new_provider_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Provider: Login ", new_provider_session_path, :class => 'navbar-link'  %>
  <% end %>